/.idea
/backend/backend/__pycache__
backend/image_process/__pycache__
backend/params
*.cdm
backend/account/__pycache__
backend/account/migrations
backend/image_process/migrations
backend/image_process/__pycache__/
backend/db.sqlite3
media
static
backend/*.png
backend/*.jpg