uWSGI
Pillow
django
urllib3
virtualenv
asgiref
django-rest-framework
PyMySQL
mysqlclient
redis
django-redis
opencv-python
requests
sympy
celery
djangorestframework_simplejwt==5.1.0
matplotlib
demjson
channels
channels-redis